.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url('../images/cta/cta3.jpg') no-repeat;
    background-size: cover;
    padding: 80px 0 90px;
}

.contact-form__title {
    @include main-title;
    color: white;
    font-weight: bold;
    margin: 0 0 70px;
}


.contact-form__form {
    display: flex;
    flex-direction: column;
    max-width: 850px;
    min-width: 850px;

}

.contact-form__question-wrapper {
    display: flex;
    justify-content: space-between;

    & .contact-form__question {
        flex-basis: 48.5%;
    }
}

.contact-form__question {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    position: relative;
}

.contact-form__label {
    position: absolute;
    top: 5px;
    left: 5px;
    font-size: 1rem;
    font-weight: 600;
    color: $black;
    margin-bottom: 3px;
}

.contact-form__input {
    background-color: white;
    border: none;
    height: 60px;
    padding: 30px 10px 5px;
    font: inherit;

    &[type="textarea"] {
        min-height: 250px;
        resize: none;
    }
}

.contact-form__submit {
    @include basic-button($pink);
    height: 60px;
    font-size: 1.5rem;
    width: 100%;
    font: inherit;
    cursor: pointer;
    align-self: flex-end;
}

@media screen and (max-width: 870px) {
    .contact-form {
        padding: 40px 10px;
    }

    .contact-form__form {
        min-width: 100%;
    }

    .contact-form__title {
        margin-bottom: 30px;
    }

    .contact-form__question-wrapper {
        flex-direction: column;
    }
}

@media screen and (max-width: 750px) {
    
}