$main: #D5C78D;
$main-dark: #114142;
$main-light: #E1ECEA;
$black: #4E4E4E;
$pink: #C59283;

$font-family: "Quicksand", Helvetica, sans-serif;

$max-width: 1360px;

$global-padding: 20px;
$title-left-padding: 40px;
$title-right-padding: 25px;
